<form action="/upload/image" method="post">
  <label for="image">
    Select the image that you would like to upload.
  </label>
  <input type="file" id="image" name="file" accept="image/png, image/jpeg" enctype="multipart/form-data">
  <input type="submit" value="Upload">
</form>

Was trying to make this page work but I think it requires more advanced knowlegde of JavaScript.