<form action="/sign_up" method="post">
  <dl>
    <dt>
      <label for="username">
        Username:
      </label>
    </dt>
    <dd>
      <input type="text" id="username" name="username">
    </dd>
    <dt>
      <label for="password">
        Password:
      </label>
    </dt>
    <dd>
      <input type="password" id="password" name="password">
    </dd>
    <dt>
      <label for="password_confirm">
        Confirm Password:
      </label>
    </dt>
    <dd>
      <input type="password" id="password_confirm" name="password_confirm">
    </dd>
  </dl>
  <input type="submit" value="Create">
  <a href="/">Cancel</a>
</form>